
.editar{
    -fx-background-image: url("../Imagens/editar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;
}
.editar:hover{
    -fx-background-image: url("../Imagens/editar-blue.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;}


.excluir{
    -fx-background-image: url("../Imagens/lixo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;
}
.excluir:hover{
    -fx-background-image: url("../Imagens/lixo-red.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;}

