/* Configurações Gerais e Fundo */
.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-color: #f4f7f9; /* Cinza muito claro, quase branco */
}

/* Barra Lateral (Menu) */
.sidebar {
    -fx-background-color: #004587; /* Azul Senac */
    -fx-padding: 20;
    -fx-spacing: 15;
}
.editar{
    -fx-background-image: url("../Imagens/editar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;
}
.editar:hover{
    -fx-background-image: url("../Imagens/editar-blue.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;}


.excluir{
    -fx-background-image: url("../Imagens/lixo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;
}
.excluir:hover{
    -fx-background-image: url("../Imagens/lixo-red.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 17px 18px;
    -fx-background-color: transparent;}
